In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'E:\Cassandra\secure-connect-sachin.zip'
}
auth_provider = PlainTextAuthProvider('mZMSDpliQjlnpqpxZzwUUxHC', 'JSs5nmqlB21MhLhauLNmOiZ-.04909CxY+eJ9vfDwAj3-1yClYFBPqfBNw16qZ50pSZQpmOoGUJW-veA7YxYwIp-J_WLjNvkRY644N8WwGIwFovy3jX5H3eRYLK15Txg')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row)
    print(row[0])
else:
    print("An error occurred.")

In [2]:
# create keyspace in database
row = session.execute("CREATE KEYSPACE testdb WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4};")

Unauthorized: Error from server: code=2100 [Unauthorized] message="Missing correct permission on testdb."

In [ ]:
#use keyspace
row=session.execute("use testdb;")

In [ ]:
# alter keyspace
row=session.execute("ALTER KEYSPACE testdb WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 2};")

In [ ]:
#dropping the keyspace
row=session.execute("DROP KEYSPACE testdb;")

In [4]:
#creating table in the keyspace
session.execute("CREATE TABLE testdb.emp(id int PRIMARY KEY , name text, age int, height int)")

In [5]:
#inserting into table
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(1,'mohit',25,160);")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(2,'sachin',30,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(3,'kunal',27,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(4,'yogesh',31,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(5,'ranit',26,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(6,'prathamesh',27,155)")

In [ ]:
row = session.execute("select * from testdb.emp")
for i in row:
    print(i)

In [16]:
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(7,'Sonu',30,160) ")

In [7]:
row = session.execute("select * from testdb.emp")
for i in row:
    print(i)

Row(id=5, age=26, height=155, name='ranit')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=30, height=155, name='sachin')
Row(id=4, age=31, height=155, name='yogesh')
Row(id=7, age=30, height=160, name='Sonu')
Row(id=6, age=27, height=155, name='prathamesh')
Row(id=3, age=27, height=155, name='kunal')

In [ ]:
#alter existing table (adding more columns to table)
session.execute("ALTER TABLE testdb.emp ADD email varchar")

In [ ]:
row = session.execute("select * from testdb.emp")
for i in row:
    print(i)

In [3]:
#dropping the table
row=session.execute("DROP TABLE IF EXISTS testdb.emp")

In [8]:
#truncating (removing all data from table)
row=session.execute("TRUNCATE testdb.emp;")

In [9]:
row = session.execute("select * from testdb.emp")
for i in row:
    print(i)

In [10]:
#inserting into table
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(1,'mohit',25,160);")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(2,'sachin',30,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(3,'kunal',27,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(4,'yogesh',31,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(5,'ranit',26,155)")
session.execute("INSERT INTO testdb.emp(id,name,age,height) VALUES(6,'prathamesh',27,155)")

In [17]:
row = session.execute("select * from testdb.emp")
for i in row:
    print(i)

Row(id=5, age=26, height=155, name='ranit')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=30, height=155, name='sachin')
Row(id=4, age=31, height=155, name='yogesh')
Row(id=7, age=30, height=160, name='Sonu')
Row(id=6, age=27, height=155, name='prathamesh')
Row(id=3, age=27, height=155, name='kunal')

In [13]:
# select specific record
row = session.execute("select name, age FROM testdb.emp WHERE id = 1")

In [15]:
for i in row:
    print(i)

Row(name='mohit', age=25)

In [19]:
session.execute("DELETE age FROM testdb.emp WHERE id = 7")

In [20]:
row = session.execute("select * from testdb.emp")
for i in row:
    print(i)

Row(id=5, age=26, height=155, name='ranit')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=30, height=155, name='sachin')
Row(id=4, age=31, height=155, name='yogesh')
Row(id=7, age=None, height=160, name='Sonu')
Row(id=6, age=27, height=155, name='prathamesh')
Row(id=3, age=27, height=155, name='kunal')

In [31]:
# Select all data from a table
row = session.execute("select * from testdb.emp")
for i in row:
    print(i[0],i[1],i[2],i[3])

5 26 155 ranit
1 25 160 mohit
2 30 155 sachin
4 31 155 yogesh
7 None 160 Sonu
6 27 155 prathamesh
3 27 155 kunal

In [32]:
# select specific record
row = session.execute("select * from testdb.emp WHERE id = 6")

In [34]:
for i in row:
    print(i)

Row(id=6, age=27, height=155, name='prathamesh')

In [35]:
# udpate record
session.execute("UPDATE testdb.emp SET height = 162 WHERE id = 6")

In [36]:
# Select all data from a table
row = session.execute("select * from testdb.emp")
for i in row:
    print(i[0],i[1],i[2],i[3])

5 26 155 ranit
1 25 160 mohit
2 30 155 sachin
4 31 155 yogesh
7 None 160 Sonu
6 27 162 prathamesh
3 27 155 kunal

In [37]:
# DELETE RECORD
session.execute("DELETE FROM testdb.emp WHERE id = 7")

In [38]:
# Select all data from a table
row = session.execute("select * from testdb.emp")
for i in row:
    print(i[0],i[1],i[2],i[3])

5 26 155 ranit
1 25 160 mohit
2 30 155 sachin
4 31 155 yogesh
6 27 162 prathamesh
3 27 155 kunal

In [40]:
# allow filtering

row= session.execute("select * from testdb.emp where age>29 allow filtering")
for i in row:
    print(i)

Row(id=2, age=30, height=155, name='sachin')
Row(id=4, age=31, height=155, name='yogesh')