In [1]:
a= 10
b= 22
a + b

32

In [ ]:
# def = defination of function

In [2]:
def test(x,y):
    print(x+y)

In [3]:
test(23,48)

71

In [ ]:
test(33,59) + 12

In [ ]:
test(313,159)

In [ ]:
# return also provide output of data
def test1(m,b):
    return m * b

In [ ]:
test1(5,9)

In [ ]:
test1(5,39) + 6

In [ ]:
a = test1(9,39)

In [ ]:
a

In [ ]:
type(a)

In [ ]:
def test2(m,n,p):
    return m + n

In [ ]:
test2(2,3)

In [ ]:
test2(2,3,4)

In [ ]:
def test3(m, n):
    return m * 10, n * 40, m + n

In [ ]:
test3(2,4)

In [ ]:
# It provide by default value is tuple
type(test3(2,4))

In [ ]:
# To assign value to each variable
a, b, c = test3(2,9)

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
# I am internet only first two data 

a, b, _ = test3(2,9)

In [ ]:
a

In [ ]:
b

In [ ]:
# _ it is just placeholder, it contain random data value. we can't be use it value later.
_

In [ ]:
# I am internet only first and third data 
a,_,b= test3(2,9)

In [ ]:
a

In [ ]:
_

In [ ]:
b

In [ ]:
def test():
    print("This is my first function")

In [ ]:
m =test()

In [ ]:
type(m)

In [ ]:
def test7():
    return "this is my first function program"

In [ ]:
n=test7() + " Let's begin"

In [ ]:
n

In [ ]:
type(n)

In [1]:
def test8(n):
    return n * 2

In [2]:
test8(2)

4

In [3]:
test8([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [4]:
def test9(n):
    return n, n*7

In [5]:
test9([4,5])

([4, 5], [4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5])

In [ ]:
type(test9([4,5]))

In [ ]:
b = test9([4,5])

In [ ]:
b

In [ ]:
b[0]

In [ ]:
b[1]

In [ ]:
def test10(m, n = 90):
    return m + n

In [ ]:
test10(30)

In [ ]:
test10(30,60)

In [ ]:
def boolx(x = True, y = False):
    return x + y

In [ ]:
boolx()

In [ ]:
boolx(False)

In [ ]:
type(boolx(False))

In [ ]:
boolx(False, +8)

In [4]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike, car, plan_travel

In [5]:
travel()

(True, False, True)

In [6]:
travel(False)

(False, False, False)

In [7]:
travel(car = True)

(True, True, True)

In [8]:
travel(_, True)

((True, True, True), True, (True, True, True))

In [9]:
_

((True, True, True), True, (True, True, True))

In [12]:
# *args take multiple data. We used this argument, when we don't know, how many argument will be pass by user
def test11(*args):
    return args

In [13]:
test11("sachin","pitale",3,[4,5,6,78])

('sachin', 'pitale', 3, [4, 5, 6, 78])

In [60]:
# concate the user provided multiple list
def listcont(*args):
    a = []
    c = range(len(args))
    for i in c:
         a = a + args[i]
    return a

In [63]:
listcont([4,5],[7,8],[10,12,13],[78,95,85])

[4, 5, 7, 8, 10, 12, 13, 78, 95, 85]

In [82]:
# concate the user provided multiple list
def listcontcomp(*args):
    a= []
    return [i for i in args]

In [83]:
listcontcomp([4,5],[7,8],[10,12,13],[78,95,85])

[[4, 5], [7, 8], [10, 12, 13], [78, 95, 85]]

In [87]:
# This function will only take list and append in default list and print. rest of other data type will ignore
def listcontwithlist(*args):
    a = []
    for i in args:
        if type(i) == list:
            a = a + i
    return a

In [88]:
listcontwithlist([4,5],[7,8],[10,12,13],[78,95,85], "abc", "xyz", 64)

[4, 5, 7, 8, 10, 12, 13, 78, 95, 85]

In [90]:
# **kwargs

def test16(**kwargs):
    return kwargs

In [91]:
test16(3,4,5)

TypeError: test16() takes 0 positional arguments but 3 were given

In [92]:
test16(a=3,b=4,c=5)

{'a': 3, 'b': 4, 'c': 5}

In [93]:
# Q1: Create a function to take any number of mixed data and try to create a list of separate data based on datatype and return multiple result

In [138]:
def separatedatabydatatype(*args):
    l= list(args)
    i1 = []
    l1 = []
    s1 = []
    t1 = []
    f1 = []
    d1 = []
    for i in l:
        if type(i) == int:
            i1.append(i)  
        elif type(i) == list:
            l1.append(i)
        elif type(i) == str:
            s1.append(i)
        elif type(i) == tuple:
            t1.append(i)
        elif type(i) == float:
            f1.append(i)
        elif type(i) == dict:
            d1.append(i)
   
   
            
    return i1,l1,s1,t1,f1,d1

In [139]:
separatedatabydatatype(54,34,[3,4,5,67,8],[34,8,9,10],"sachin",78,"pitale",(4,5,6,7),(8,9,10,11),54.6,{"a":1,"b":2},278.7,{"c":3,"d":4})

([54, 34, 78],
 [[3, 4, 5, 67, 8], [34, 8, 9, 10]],
 ['sachin', 'pitale'],
 [(4, 5, 6, 7), (8, 9, 10, 11)],
 [54.6, 278.7],
 [{'a': 1, 'b': 2}, {'c': 3, 'd': 4}])

In [140]:
# Q2: Create a function which will be able to use *args and **kwargs and it  will be able to do all the list value Concatition and return a list

In [4]:
def test15(*args, **kwargs):
    l = []
    l1 = []
    for i in args:
        if type(i) == list:
            l.append(i)
    
    
    for j in kwargs:
        if type(kwargs[j]) == list:
            l.append(kwargs[j])
    return l

In [5]:
test15(3,4,[34,5,6],54.10,[23,78],a=2,b=[3,4,5,6])

[[34, 5, 6], [23, 78], [3, 4, 5, 6]]

In [1]:
def func1(*args):
    dt = {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

func1(1,2,3,[4,5,6],34.5,35+6j)

{int: [1, 2, 3], list: [[4, 5, 6]], float: [34.5], complex: [(35+6j)]}

In [8]:
def test(x = 10, y = 5):
    return x+y

In [9]:
test(10,20)

30

In [13]:
round(2/3, ndigits=2)

0.67