In [1]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\delll\anaconda3\lib\site-packages (4.0.1)

In [2]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\delll\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\delll\anaconda3\lib\site-packages (from pymongo[srv]) (2.1.0)

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb://localhost:27017")

In [4]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
show collections

SyntaxError: invalid syntax (Temp/ipykernel_10864/2936055502.py, line 1)

In [8]:
# Create Database
# once we insert the value after that, we can see the database.

In [13]:
db_1 = client["sachin"]

In [10]:
# list all the databases

client.list_database_names()

['admin', 'config', 'local', 'sachin']

In [11]:
db_1

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sachin')

In [12]:
sachin["test1"]

NameError: name 'sachin' is not defined

In [12]:
# Create table (collection)

In [16]:
collection_1 = db_1["test"]

In [14]:
collection_1

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sachin'), 'test')

In [15]:
# insert data in collection(table)

In [17]:
record = {'CompanyName' : 'DS',
          'Product' : 'FSDS',
          'Course' : 'MLDL'    
}

collection_1.insert_one(record)

In [19]:
record = {'CompanyName' : 'DS',
          'Product' : 'FSDS',
          'Course' : 'MLDL',  
          'batch': ["weekday","weekend"]
}
collection_1.insert_one(record)

In [20]:
record = {'CompanyName' : 'DS',
          'Product' : 'FSDS',
          'Course' : 'MLDL',  
          'batch': ["weekday","weekend"],
          'record_dict' : {"name": 'sachin', 'email_id':'abc@gmail.com', 'Dept' :'IT'}
}

collection_1.insert_one(record)

In [21]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017")
client
db_1 = client["sachin"]
collection_1 = db_1["test"]
record = {'CompanyName' : 'DS',
          'Product' : 'FSDS',
          'Course' : 'MLDL',  
          'batch': ["weekday","weekend"],
          'record_dict' : {"name": 'sachin', 'email_id':'abc@gmail.com', 'Dept' :'IT'}
}

collection_1.insert_one(record)

In [22]:
# add list of data element

In [26]:
list_of_data = [
    {
        'CompanyName' : 'DS',
        'Product' :'FSDS',
        'Course': 'ML'        
    },
    {
        'CompanyName' : 'DS',
        'Product' : 'FSDS',
        'Course' : 'DL'
    },
    {
        'CompanyName' : 'DS',
        'Product' : 'FSDS',
        'Course' : "CV and NLP"
    }
]

collection_1.insert_many(list_of_data)

In [33]:
list_of_data = [
    {
        'CompanyName' : 'DS',
        'Product' :'FSDS',
        'Course': 'ML'        
    },
    {
        'CompanyName' : 'DS',
        'Product' : 'FSDS',
        'Course' : 'DL'
    },
    {
        'CompanyName' : 'DS',
        'Product' : 'FSDS',
        'Course' : "CV and NLP",
        "test" : "Practicle",
        'complex' : [{"name" : "sachin", 'add' : ["add1","add2","aad3","area","pincode"] }, {'email_id': "abc@gmail.com"},{'phone_no': 807330398},[4,5,7,8,12]]
    }
]

res = collection_1.insert_many(list_of_data)

In [35]:
# lets print the unique ID that of the record that we have inserted

inserted_ids = res.inserted_ids
for idx, unique_ids in enumerate(inserted_ids):
    print(idx, unique_ids)

0 61e124f5b13fabac74f4a119
1 61e124f5b13fabac74f4a11a
2 61e124f5b13fabac74f4a11b

In [4]:
collection_2 = db_1['student']

In [6]:
records = [
    {
        'id' : 1,
        'name' : 'sachin',
        'course' : 'ML'
    },
    {
        'id' : 2,
        'name' : 'kunal',
        'course' : 'ML'
    },
    {
        'id' : 3,
        'name': "prathamesh",
        'course' : 'ML'
    }
]

student_records = collection_2.insert_many(records)

In [7]:
# Create a our custom id

In [40]:
records = [
    {
        '_id' : 21,
        'name' : 'sachin',
        'course' : 'ML'
    },
    {
        '_id' : 22,
        'name' : 'kunal',
        'course' : 'ML'
    },
    {
        '_id' : 23,
        'name': "prathamesh",
        'course' : 'ML'
    }
]

student_records = collection_2.insert_many(records)

In [11]:
collection_2.find_one()

{'_id': ObjectId('61e12745c32e026aab10266f'),
 'id': 1,
 'name': 'sachin',
 'course': 'ML'}

In [50]:
# To fetch all the data from collection. 
all_data =collection_2.find()

In [51]:
for i in all_data:
    print(i)

{'_id': ObjectId('61e12745c32e026aab10266f'), 'id': 1, 'name': 'sachin', 'course': 'ML'}
{'_id': ObjectId('61e12745c32e026aab102670'), 'id': 2, 'name': 'kunal', 'course': 'ML'}
{'_id': ObjectId('61e12745c32e026aab102671'), 'id': 3, 'name': 'prathamesh', 'course': 'ML'}
{'_id': 11, 'name': 'sachin', 'course': 'ML'}
{'_id': 12, 'name': 'kunal', 'course': 'ML'}
{'_id': 13, 'name': 'prathamesh', 'course': 'ML'}
{'_id': 21, 'name': 'sachin', 'course': 'ML'}
{'_id': 22, 'name': 'kunal', 'course': 'ML'}
{'_id': 23, 'name': 'prathamesh', 'course': 'ML'}

In [17]:
data = collection_1.find()
for i in data:
    print(i)

{'_id': ObjectId('61e11b0bb13fabac74f4a10a'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'MLDL'}
{'_id': ObjectId('61e11b7cb13fabac74f4a10b'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'MLDLCVNLP'}
{'_id': ObjectId('61e11bfcb13fabac74f4a10c'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'MLDL', 'batch': ['weekday', 'weekend']}
{'_id': ObjectId('61e11c83b13fabac74f4a10d'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'MLDL', 'batch': ['weekday', 'weekend'], 'record_dict': {'name': 'sachin', 'email_id': 'abc@gmail.com', 'Dept': 'IT'}}
{'_id': ObjectId('61e11db8b13fabac74f4a10f'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'MLDL', 'batch': ['weekday', 'weekend'], 'record_dict': {'name': 'sachin', 'email_id': 'abc@gmail.com', 'Dept': 'IT'}}
{'_id': ObjectId('61e12057b13fabac74f4a110'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'ML'}
{'_id': ObjectId('61e12057b13fabac74f4a111'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'DL'}
{'_id': ObjectId('61e12057b13fabac74f4a112'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'CV and NLP'}
{'_id': ObjectId('61e1216bb13fabac74f4a113'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'ML'}
{'_id': ObjectId('61e1216bb13fabac74f4a114'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'DL'}
{'_id': ObjectId('61e1216bb13fabac74f4a115'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'CV and NLP', 'test': 'Practicle', 'complex': [{'name': 'sachin', 'add': ['add1', 'add2', 'aad3', 'area', 'pincode']}, {'email_id': 'abc@gmail.com'}, {'phone_no': 807330398}, [4, 5, 7, 8, 12]]}
{'_id': ObjectId('61e1245ab13fabac74f4a116'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'ML'}
{'_id': ObjectId('61e1245ab13fabac74f4a117'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'DL'}
{'_id': ObjectId('61e1245ab13fabac74f4a118'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'CV and NLP', 'test': 'Practicle', 'complex': [{'name': 'sachin', 'add': ['add1', 'add2', 'aad3', 'area', 'pincode']}, {'email_id': 'abc@gmail.com'}, {'phone_no': 807330398}, [4, 5, 7, 8, 12]]}
{'_id': ObjectId('61e124f5b13fabac74f4a119'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'ML'}
{'_id': ObjectId('61e124f5b13fabac74f4a11a'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'DL'}
{'_id': ObjectId('61e124f5b13fabac74f4a11b'), 'CompanyName': 'DS', 'Product': 'FSDS', 'Course': 'CV and NLP', 'test': 'Practicle', 'complex': [{'name': 'sachin', 'add': ['add1', 'add2', 'aad3', 'area', 'pincode']}, {'email_id': 'abc@gmail.com'}, {'phone_no': 807330398}, [4, 5, 7, 8, 12]]}

In [18]:
# Query or filter out data in mongodb

In [25]:
for i in collection_2.find({"name": 'sachin'}):
    print (i)

{'_id': ObjectId('61e12745c32e026aab10266f'), 'id': 1, 'name': 'sachin', 'course': 'ML'}
{'_id': 11, 'name': 'sachin', 'course': 'ML'}

In [27]:
for i in collection_2.find({"_id": 11}):
    print (i)

{'_id': 11, 'name': 'sachin', 'course': 'ML'}

In [28]:
# condition query

In [36]:
for i in collection_2.find({"_id" : {"$gt" : 11}}):
    print(i)

{'_id': 12, 'name': 'kunal', 'course': 'ML'}
{'_id': 13, 'name': 'prathamesh', 'course': 'ML'}

In [37]:
for i in collection_2.find({"_id" : {"$eq" : 11}}):
    print(i)

{'_id': 11, 'name': 'sachin', 'course': 'ML'}

In [39]:
for i in collection_2.find({"_id" : {"$lt" : 13}}):
    print(i)

{'_id': 11, 'name': 'sachin', 'course': 'ML'}
{'_id': 12, 'name': 'kunal', 'course': 'ML'}

In [41]:
# delete the data from collection

In [52]:
# one value

collection_2.delete_one({"name": 'kunal'})

In [53]:
collection_2.delete_many({"name": 'kunal'})

In [54]:
collection_2.delete_many({"_id": {"$gt": 20}})

In [55]:
## drop the collection

In [ ]:
collection_2.drop()