In [1]:
! pip install optuna

Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\delll\anaconda3\lib\site-packages (from optuna) (21.0)
Requirement already satisfied: scipy!=1.4.0 in c:\users\delll\anaconda3\lib\site-packages (from optuna) (1.7.1)
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: numpy in c:\users\delll\anaconda3\lib\site-packages (from optuna) (1.20.3)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Collecting alembic
  Downloading alembic-1.7.7-py3-none-any.whl (210 kB)
Requirement already satisfied: sqlalchemy>=1.1.0 in c:\users\delll\anaconda3\lib\site-packages (from optuna) (1.4.22)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
Requirement already satisfied: PyYAML in c:\users\delll\anaconda3\lib\site-packages (from optuna) (6.0)
Requirement already satisfied: tqdm in c:\users\delll\anaconda3\lib\site-packages (from optuna) (4.62.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\delll\anaconda3\lib\site-packages (from packaging>=20.0->optuna) (3.0.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\delll\anaconda3\lib\site-packages (from sqlalchemy>=1.1.0->optuna) (1.1.1)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
Collecting PrettyTable>=0.7.2
  Downloading prettytable-3.2.0-py3-none-any.whl (26 kB)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.1-py3-none-any.whl (146 kB)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.8.1-py2.py3-none-any.whl (113 kB)
Collecting autopage>=0.4.0
  Downloading autopage-0.5.0-py3-none-any.whl (29 kB)
Requirement already satisfied: wcwidth>=0.1.7 in c:\users\delll\anaconda3\lib\site-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Collecting pyreadline3
  Downloading pyreadline3-3.4.1-py3-none-any.whl (95 kB)
Requirement already satisfied: attrs>=16.3.0 in c:\users\delll\anaconda3\lib\site-packages (from cmd2>=1.0.0->cliff->optuna) (21.2.0)
Requirement already satisfied: colorama in c:\users\delll\anaconda3\lib\site-packages (from colorlog->optuna) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\delll\anaconda3\lib\site-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py): started
  Building wheel for pyperclip (setup.py): finished with status 'done'
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11136 sha256=11cb59d634a0ce8763cf48fd3e7690beec0484129cafa89caa6bc3805b010c95
  Stored in directory: c:\users\delll\appdata\local\pip\cache\wheels\0c\09\9e\49e21a6840ef7955b06d47394afef0058f0378c0914e48b8b8
Successfully built pyperclip
Installing collected packages: pyreadline3, pyperclip, pbr, stevedore, PrettyTable, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 PrettyTable-3.2.0 alembic-1.7.7 autopage-0.5.0 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.1 colorlog-6.6.0 optuna-2.10.0 pbr-5.8.1 pyperclip-1.8.2 pyreadline3-3.4.1 stevedore-3.5.0

In [2]:
import optuna

In [3]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in c:\users\delll\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Requirement already satisfied: numpy in c:\users\delll\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2

In [4]:
import optuna
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv("Admission_Prediction.csv")

In [7]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [8]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [11]:
x = df.drop(columns=['Chance of Admit','Serial No.'])

In [12]:
y = df['Chance of Admit']

In [13]:
x

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0        337.0        118.0                4.0  4.5  4.5  9.65         1
1        324.0        107.0                4.0  4.0  4.5  8.87         1
2          NaN        104.0                3.0  3.0  3.5  8.00         1
3        322.0        110.0                3.0  3.5  2.5  8.67         1
4        314.0        103.0                2.0  2.0  3.0  8.21         0
..         ...          ...                ...  ...  ...   ...       ...
495      332.0        108.0                5.0  4.5  4.0  9.02         1
496      337.0        117.0                5.0  5.0  5.0  9.87         1
497      330.0        120.0                5.0  4.5  5.0  9.56         1
498      312.0        103.0                4.0  4.0  5.0  8.43         0
499      327.0        113.0                4.0  4.5  4.5  9.04         0

[500 rows x 7 columns]

In [14]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

In [ ]:
def objective(trail, data=x, target=y):
    train_x, test_x, train_y, test_y=train_test_split(data,target,test_size=.10,random_state=30)
    param = {
        'tree_method' : 'gpu_hist',  # It will use gpu for execution instead of cpu
        'lambda' : trail.suggest_loguniform('lambda', 1e-4,10.0), # R2 regularization parameter
        'alpha' : trail.suggest_loguniform('lambda', 1e-4,10.0),  # R2 regularization parameter
        'colsample_bytree' : trail.suggest_catogorical('colsample_bytree', [.1,.2,.3,.4,.5,.6,.7,.8,.9,1]), #Subsample ratio of columns when constructing each tree.
        'subsample' : trail.suggest_catogorical('subsample', [.1,.2,.3,.4,.5,.6,.7,.8,.9,1]),
    }

In [ ]:
xgb.XGBRFRegressor()