In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, Lasso, RidgeCV,LassoCV,ElasticNet,ElasticNetCV,LinearRegression
from sklearn.model_selection import train_test_split 
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import pickle

In [2]:
df= pd.read_csv('Admission_Prediction.csv')

In [10]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [4]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].mean())

In [7]:
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())

In [9]:
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mean())

In [11]:
df.drop(columns=['Serial No.'],inplace=True)

In [12]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332.000000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,337.000000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,330.000000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,312.000000,103.0,4.0,4.0,5.0,8.43,0,0.73
499,327.000000,113.0,4.0,4.5,4.5,9.04,0,0.84

In [13]:
y= df['Chance of Admit']

In [14]:
x=df.drop(columns=['Chance of Admit'])

In [15]:
x

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0    337.000000        118.0                4.0  4.5  4.5  9.65         1
1    324.000000        107.0                4.0  4.0  4.5  8.87         1
2    316.558763        104.0                3.0  3.0  3.5  8.00         1
3    322.000000        110.0                3.0  3.5  2.5  8.67         1
4    314.000000        103.0                2.0  2.0  3.0  8.21         0
..          ...          ...                ...  ...  ...   ...       ...
495  332.000000        108.0                5.0  4.5  4.0  9.02         1
496  337.000000        117.0                5.0  5.0  5.0  9.87         1
497  330.000000        120.0                5.0  4.5  5.0  9.56         1
498  312.000000        103.0                4.0  4.0  5.0  8.43         0
499  327.000000        113.0                4.0  4.5  4.5  9.04         0

[500 rows x 7 columns]

In [32]:
x_train,x_test, y_train, y_test=train_test_split(x,y, test_size=0.40, random_state=375)

In [33]:
x_train

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
336  319.000000   110.000000           3.000000  3.0  2.5  8.79         0
279  316.558763   102.000000           2.000000  3.0  4.0  8.73         0
6    321.000000   109.000000           3.121649  3.0  4.0  8.20         1
216  322.000000   107.187755           4.000000  4.5  4.5  9.26         1
42   313.000000   107.000000           2.000000  2.5  2.0  8.50         1
..          ...          ...                ...  ...  ...   ...       ...
124  316.558763   106.000000           4.000000  2.5  3.0  8.47         0
252  318.000000   100.000000           2.000000  2.5  3.5  8.54         1
482  328.000000   113.000000           4.000000  4.0  2.5  8.77         1
408  297.000000   101.000000           3.000000  2.0  4.0  7.67         1
483  304.000000   103.000000           5.000000  5.0  3.0  7.92         0

[300 rows x 7 columns]

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(x_train, y_train)

LinearRegression()

In [36]:
lr.predict([[319.000000,110.000000,3.000000,3.0,2.5,8.79,0]])

array([0.72606155])

In [37]:
lr.score(x_test,y_test)

0.8573643923326312

In [38]:
from sklearn.metrics import r2_score

In [42]:
r2_score(lr.predict(x_test),y_test)

0.8552750429057966

In [43]:
# let's create a function to find adjusted R-Sequre
def adj_r2(x,y):
    r2 = lr.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adja_r2 = 1 -(1-r2)*(n-1)/(n-p-1)
    return adja_r2

In [44]:
adj_r2(x_test,y_test)

0.8521641358030917

In [45]:
lassocv = LassoCV(alphas=None, cv=5, max_iter=200000, normalize=True)

In [46]:
lassocv.fit(x_train, y_train)

LassoCV(cv=5, max_iter=200000, normalize=True)

In [47]:
lassocv.predict([[319.000000,110.000000,3.000000,3.0,2.5,8.79,0]])

array([0.72732654])

In [48]:
filename='lassocvml.pickle'

In [49]:
pickle.dump(lassocv,open(filename,'wb'))

In [ ]:
filename = 'finalized_model.pickle'
pickle.dump(reg, open(filename, 'wb'))