In [1]:
print("This is my first program")

This is my first program

In [2]:
# Single line comment
# Print ("Hello python")

In [3]:
"""
multiple line comment
I am learning python from scatch
"""

'\nmultiple line comment\nI am learning python from scatch\n'

In [4]:
# Variable define
a=10
a

10

In [5]:
#find the datatype of variable =a
type(a)

int

In [10]:
b="sachin"
b

'sachin'

In [7]:
type(b)

str

In [11]:
print(b)

sachin

In [12]:
print(a,b)

10 sachin

In [13]:
print(a,b, "Hello")

10 sachin Hello

In [18]:
#Define the variable in single line

Name, Dept = "sachin", "IT"

print(Name,Dept)

sachin IT

'IT'

In [21]:
Name

'sachin'

In [20]:
Dept

'IT'

In [22]:
c = 1.6
c

1.6

In [23]:
type(c)

float

In [25]:
# boolen variable

d = True
e = False
d, e

(True, False)

In [26]:
type(d)

bool

In [27]:
type(e)

bool

In [30]:
print (True + True + True + False + True )
print (False - True + True )

4
0

In [34]:
print ( True / False )

ZeroDivisionError: division by zero

In [35]:
# complex data type and "j" is only notation for python programing. If we use any letter except j. It will  give a error.
e = 45 + 6j
e

(45+6j)

In [36]:
type(e)

complex

In [37]:
# Get the real number
e.real

45.0

In [38]:
# Get the imag number
e.imag

6.0

In [1]:
1 + "Sachin"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
str(1) + "sachin"

'1sachin'

In [3]:
1 + 1.0

2.0

In [4]:
"sachin" + "sachin" + "sachin"

'sachinsachinsachin'

In [5]:
"sachin" * 3

'sachinsachinsachin'

In [7]:
"--------------Hello Python-----------------" * 2

'--------------Hello Python-------------------------------Hello Python-----------------'

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
# To ask value from user by input() function. It by default data type is string

f_one = input()

hello

In [15]:
print (f_one)

hello

In [12]:
Name = input("Enter your name:  ")
print ("Welcome to python class ", Name)

Enter your name:  Sachin
Welcome to python class  Sachin

In [22]:
com_number = 4+5j
a = int(input("Enter your first number:  "))
b = int(input("Enter your second number:  "))
c = int(input("Enter your third number:  "))

O_one =  (a + b) / c
print (O_one)
O_two = O_one + com_number
print (O_two)
O_three = str(O_two) + "Sachin"
print (O_three)

Enter your first number:  10
Enter your second number:  20
Enter your third number:  5
6.0
(10+5j)
(10+5j)Sachin

In [24]:
x, y, z = int(input("Enter your three interger number:  ").split(" "))
print (x, y, z)

Enter your three interger number:  10

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [28]:
a = int(input("Enter your number: "))
if a < 34:
    print ("You enter number is less than 34")
else:
    print ("You enter number is greater than 34")

Enter your number: 59
You enter number is greater than 34

In [ ]:
b = int(input("Ente your number: "))
if b < 34:
    print ("You enter number is less than 34")
elif b < 100:
    print ("You enter number is less than 100")
else:
    print ("You enter number is not less than 34")

In [1]:
salary = int(input("Enter your salary:  "))

if salary > 100000:
    print ("You can buy a home: ")
elif salary > 50000:
    print ("You can  buy a bike")
elif salary > 10000:
    print("You can't buy anything")
else:
    print ("You can save money")

Enter your salary:  35
You can save money

In [5]:
salary = int(input("Enter your salary:  "))

if salary > 1000:
    print ("You can buy a home: ")
    if salary < 5000:
        print ("You can buy car nano")
        if True:
            print ("False statement")
    elif salary < 10000:
        print ("You can buy car maruti")
    elif salary < 50000:
        print ("you can buy car toyoto")
    else:
        print("You can give a car on rent")
elif salary > 50000:
    print ("You can  buy a bike")
elif salary > 10000:
    print("You can't buy anything")
else:
    print ("You can save money")

Enter your salary:  4000
You can buy a home:
You can buy car nano
False statement