In [28]:
i = 1
notes = 5

while i < notes:
    print (i)
    i += 1
else:
    print (i, "is not less than", notes)

1
2
3
4
5 is not less than 5

In [1]:
name = "My name is sachin"
print(name[4])
print(name[1:10])
print(name[1:10:2])
print(name[10:2:-1])
print(name[10:2:-2])
print(name[-1])
print(name[::-1])
print(name[0:2])

a
y name is
ynm s
 si eman
 iea
n
nihcas si eman yM
My

In [25]:
# for loop else condition try to execute when for loop is complete itself.
name = "My name is sachin"
for i in name:
    if i == "a":
        print("a char found in string\n") 
    print (i)
else:
     print("print the else condition")

M
y

n
a char found in string

a
m
e

i
s

s
a char found in string

a
c
h
i
n
print the else condition

In [11]:
for i in name:
    if i == "i":
        break
    print (i)
else:
    print("print the else condition")

M
y

n
a
m
e

In [13]:
# continue statement it directly go again to loop and run with next iteration.
for i in name:
    if i == "i":
        continue
    print (i)
else:
    print("print the else condition")

M
y

n
a
m
e

s

s
a
c
h
n
print the else condition

In [26]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

print(ss)

ieuro

In [24]:
ss

'ieuro'

In [1]:
bacon = 22
bacon + 1

23

In [2]:
bacon

22

In [6]:
n = 10
for i in range(0, n):
    for j in range(0, i + 1):
        print ("+", end = "")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++

In [1]:

m = 7
for i in range(0, m):
    for j in range(m - i ):
        print ("*", end = "")
    print("\r")

*******
******
*****
****
***
**
*

In [8]:
p = 10

for i in range(0, p):
    for j in range(0, i + 1):
        print("*", end = " ")
    print("\r")
for m in range(0, p):
    for n in range(p - m):
        print("*", end =" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
a = 8
for i in range(0, a):
    for j in range(0, a):
        print ("*", end="")
    print("\r")

********
********
********
********
********
********
********
********

In [33]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [46]:
num = 9
m = 2 * num + 2
for i in range(0, num):
    for j in range(0, m):
        print( end=" ")
    m = m - 1
    for j in range(0, i -1):
        print("*", end=" ")
    print("")

                *
               * *
              * * *
             * * * *
            * * * * *
           * * * * * *
          * * * * * * *

In [17]:
n = 9
i = 0
while i < n:
    print (' '*(n-i-1) + '* '*(i+1)  )
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [22]:
n = 3
i = 0
while n > i:
    print ( '* '*(n+1)+ ' '*(n+i+1)  )
    n -=1

* * * *
* * *
* *

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [27]:
(5 > 4) or (3 == 5)

True

In [30]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:

    
num = 1
while num <= 10:
    print ("Number is =", num)
    num +=1

Number is = 1
Number is = 2
Number is = 3
Number is = 4
Number is = 5
Number is = 6
Number is = 7
Number is = 8
Number is = 9
Number is = 10

In [1]:
l = ["sachin", "pitale", 5467, 54.8, 64+6j]

In [2]:
l

['sachin', 'pitale', 5467, 54.8, (64+6j)]

In [3]:
l[0]

'sachin'

In [4]:
l[2]

5467

In [5]:
type(l)

list

In [7]:
l = ["sachin", 34535, "sfasfa", True, 45+8j, [3,4,5,"abc"], 6.87]

In [10]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [13]:
for i in l:
    if type(i) == list:
        for j in i:
            n = 0
            if type(j) == int:
                n = n + j
            print(n)

3
4
5
0

In [14]:
l[0:5]

['sachin', 34535, 'sfasfa', True, (45+8j)]

In [15]:
l[8:3]

[]

In [16]:
l[0] = "Sachin"

In [17]:
l

['Sachin', 34535, 'sfasfa', True, (45+8j), [3, 4, 5, 'abc'], 6.87]

In [18]:
range(1,20)

range(1, 20)

In [20]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
l2 = list(range(1,21))

In [4]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
a = "sachin"

In [8]:
for i in a:
    print(i, end="")

sachin

In [9]:
range(7,0,-1)

range(7, 0, -1)

In [10]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [14]:
n = 7
j = 8

for i in range(0,n-1):
    for j in range(0,j-1):
        print("*", end="")
    print("\r")

*******
*****
***
*

In [40]:
a = "my name Is Sachin"

In [41]:
count = 0
d = []
if count == 0:
    if (a[0].isupper()):
        for i in a:
            if i == " ":
                b = count + 1
                c = a[b].isupper()
                d.append(c)
            count = count + 1

print(d)
if not d:
    if False in d:
        print ("Your string is not title")
    else:
        print ("Your string is title")

[]
Your string is title

In [35]:

if not d:
    print("hello")

hello

In [14]:
if a[0].isupper:
    print ("hello")

hello