In [1]:
t = ()

In [2]:
type(t)

tuple

In [39]:
t1 = (34,54,"sachin",78.5, 34,34,True)

In [14]:
l1 = [95,278,"sachin", 34.5,True]

In [5]:
t1[0]

34

In [6]:
t1[::-1]

(True, 78.5, 'sachin', 54, 34)

In [15]:
l1[0] = 237

In [16]:
l1[0]

237

In [17]:
t1[0] = 237

TypeError: 'tuple' object does not support item assignment

In [18]:
t1[0:300]

(34, 54, 'sachin', 78.5, True)

In [19]:
t1[-1]

True

In [20]:
t2 = (234,54,84)

In [21]:
l2 = [34,68,"sachin"]

In [25]:
l1

[237, 278, 'sachin', 34.5, True]

In [23]:
l1 + l2

[237, 278, 'sachin', 34.5, True, 34, 68, 'sachin']

In [24]:
t1 + t2

(34, 54, 'sachin', 78.5, True, 234, 54, 84)

In [26]:
t1 * 2

(34, 54, 'sachin', 78.5, True, 34, 54, 'sachin', 78.5, True)

In [27]:
t1

(34, 54, 'sachin', 78.5, True)

In [28]:
34 in t1

True

In [29]:
278 in t1

False

In [30]:
# max function is apply for similar data type, like int, string

In [31]:
max(l1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [32]:
t3 = (39,80,278)

In [34]:
max(t3)

278

In [35]:
t1.count(34)

1

In [38]:
t1.index(78.5)

3

In [37]:
t1

(34, 54, 'sachin', 78.5, True)

In [40]:
t1.count(34)

3

In [41]:
t1.index(34)

0

In [42]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
min(t3)

39

In [44]:
# add the element in existing tuple
# Directly is not possible. but we have following work around
# 1. we need to covert the tuple in list
# 2. add new element value in list at particuler index
# 3. convert list into tuple

In [54]:
t1
l1=list(t1)
l1
l1.insert(3,278)
l1
t1 = tuple(l1) # It will create new memory location
t1

(34, 54, 'sachin', 278, 98, 98, 78.5, 34, 34, True)

In [55]:
# Nested tuple supported here
t = ((2,3,4,5),(9,8,"sachin"),(11,15,"xyz"),"pqr", 45+4j)

In [56]:
t

((2, 3, 4, 5), (9, 8, 'sachin'), (11, 15, 'xyz'), 'pqr', (45+4j))

In [57]:
for i in t:
    print (i, type(i))

(2, 3, 4, 5) <class 'tuple'>
(9, 8, 'sachin') <class 'tuple'>
(11, 15, 'xyz') <class 'tuple'>
pqr <class 'str'>
(45+4j) <class 'complex'>

In [61]:
t

((2, 3, 4, 5), (9, 8, 'sachin'), (11, 15, 'xyz'), 'pqr', (45+4j))

In [65]:
c = 0

for i in t:
    if type(i) == tuple:
        d = 0
        for j in i:
            if type(j) == str:
                print(j, c,d)
            
            d = d +1 
    c = c + 1

sachin 1 2
xyz 2 2

In [67]:
t[2][2]

'xyz'

In [3]:
t = ((2,3,4,5),(9,8,"sachin"),(11,15,"xyz"),[11,12,13,14],"pqr", 45+4j, [4,5,6,7])

In [70]:
t

((2, 3, 4, 5),
 (9, 8, 'sachin'),
 (11, 15, 'xyz'),
 [11, 12, 13, 14],
 'pqr',
 (45+4j),
 [4, 5, 6, 7])

In [4]:
l = []
c = 0
for i in t:
    if type(i) == list:
        c = c +1
        l.append(i)
        
    
print (l, c)

for i in range(0,c):
     a = str("e") + str(i)
     a = l[i]

[[11, 12, 13, 14], [4, 5, 6, 7]] 2

In [5]:
l1 = []
for i in range(c):
    l.append(a[i])

In [6]:
range(a,e)

NameError: name 'e' is not defined

In [80]:
1 = [3,4]

SyntaxError: cannot assign to literal (Temp/ipykernel_5776/2382905016.py, line 1)

In [112]:
t = ((2,3,4,5),(9,8,"sachin"),(11,15,"xyz"),[11,12,13,14],"pqr", 45+4j, [4,5,6,7],(78,58,348))

In [7]:
# To find the 1st element of each tuple
for i in t:
    if type(i) == tuple:
        print(i[0])

2
9
11

In [117]:
t1

(34, 54, 'sachin', 278, 98, 98, 78.5, 34, 34, True)

In [118]:
t2

(234, 54, 84)

In [120]:
# compare two tuples
if len(t1) != len(t2):
    print("Tuples are not same")

Tuples are not same

In [122]:
t = (4,8,"sachin", "sudh","elon",34.5)

In [125]:
name = input("Enter your name and check your name is presnet or not in our database: ")
if name in t:
    print ("your name is available as", name)
else:
    print("your name is not available in our database,")

Enter your name and check your name is presnet or not in our database: sudh
your name is available as sudh

In [126]:
# To delete the tuple

In [127]:
t2

(234, 54, 84)

In [128]:
del(t2)

In [129]:
t2

NameError: name 't2' is not defined

In [130]:
l2

[34, 68, 'sachin']

In [131]:
del(l2)

In [132]:
l2

NameError: name 'l2' is not defined

In [177]:
l = [34,54,45,45,68,95,85,95,"sachin",95,2,"sachin", 10, "sachin"]

In [178]:
# To find unique number in list and create new list with unique number

for i in l:
    if l.count(i ) <= 1:
        print("The number is  unique in list", i)
    else:
        print("the number is not unique in list", i)
        l.remove(i)

The number is  unique in list 34
The number is  unique in list 54
the number is not unique in list 45
The number is  unique in list 68
the number is not unique in list 95
the number is not unique in list 95
The number is  unique in list 95
The number is  unique in list 2
the number is not unique in list sachin
the number is not unique in list sachin

In [179]:
l

[34, 54, 45, 68, 85, 95, 2, 10, 'sachin']

In [143]:
################################################################
# Set
# To set is collection of data, which is always tring to hold unique data except case sensitive(like upper and lower case)
# Where we want to remove some duplicate we used set
# Set doesn't support index operator

In [181]:
l = [34,54,45,45,68,95,85,95,"sachin",95,2,"sachin", 10, "sachin"]

In [180]:
set(l)

{10, 2, 34, 45, 54, 68, 85, 95, 'sachin'}

In [182]:
s = set(l)

In [183]:
s

{10, 2, 34, 45, 54, 68, 85, 95, 'sachin'}

In [184]:
for i in s:
    print(i)

sachin
34
2
68
10
45
85
54
95

In [186]:
10 in s

True

In [187]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s = set()
s

In [ ]:
s.add(45)

In [190]:
s

{45}

In [ ]:
s.add("sachin")

In [ ]:
s.add("pitae")

In [193]:
s

{45, 'pitae', 'sachin'}

In [194]:
s.add([1,5])

TypeError: unhashable type: 'list'

In [195]:
s.remove(45)

In [196]:
s

{'pitae', 'sachin'}

In [197]:
s.remove(45)

KeyError: 45

In [199]:
45 in s

False

In [200]:
s.add(45)

In [201]:
s

{45, 'pitae', 'sachin'}

In [ ]:
s.add("wer")

In [ ]:
s.add(234)

In [ ]:
s.add(346)

In [206]:
s

{234, 346, 45, 'pitae', 'sachin', 'wer'}

In [207]:
s1 = set()

In [208]:
s1.add(45)

In [209]:
s1.add(78)

In [210]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
s

In [212]:
l4 = list(s)

In [213]:
l4

['sachin', 234, 45, 346, 'pitae', 'wer']

In [214]:
l4.append("pitale")

In [215]:
l4

['sachin', 234, 45, 346, 'pitae', 'wer', 'pitale']

In [216]:
l4.insert(2,278)

In [217]:
l4

['sachin', 234, 278, 45, 346, 'pitae', 'wer', 'pitale']

In [107]:
s = set()

In [108]:
s.add(45)

In [4]:
s.add(98)

In [5]:
s.add("sachin")

In [ ]:
s.

In [6]:
t4 = tuple(s)

In [7]:
t4

('sachin', 98, 45)

In [8]:
set(t4)

{45, 98, 'sachin'}

In [9]:
list(t4)

['sachin', 98, 45]

In [10]:
# List : It is mutable object, we can add element later also
# tuple: It is immutable object, we can't add element in later
# set: It contain unique un order data

In [11]:

#####################################################################################################
# Dict

In [12]:
x = {}

In [13]:
type(x)

dict

In [14]:
x1 = {34,63}

In [15]:
type(x1)

set

In [16]:
x = {"name": "sachin", "age": "30"}

In [17]:
type(x)

dict

In [26]:
x1 = {"name": "sachin" , "age": 30 , True : "yes" , 34.5 : "no" }

In [2]:
x2 = {[4,6,7,8] : "abc", "pqr":"xzy" }

TypeError: unhashable type: 'list'

In [3]:
x3 = {(4,6,7,8) : "abc", "pqr":"xzy" }

In [4]:
x4 = {{4,6,7,8} : "abc", "pqr":"xzy" }

TypeError: unhashable type: 'set'

In [16]:
# check 4 is present or not in list. if present print index value of 4
l = [1,2,3,4,5]

if 4 in l:
    print(l.index(4))

3

In [15]:
l.index(4)

3

In [23]:
x1 = {"name": "sachin" , "age": 30 , True : "yes" , 34.5 : "no", "sffg" : [37,38,54,85], "abc":  {"k1":"wer","k4": [345,53455,534]} }

In [18]:
x1["age"]

30

In [19]:
x1["name"]

'sachin'

In [22]:
x1["sffg"][2]

54

In [27]:
x1["abc"]["k4"]

[345, 53455, 534]

In [65]:
x1["abc"]["k4"][2]

int

In [18]:
x3 = {5:"wer", "k4": [345,534535,534]}

In [30]:
x4 = {"k4" : "FSdfs"}

In [31]:
x3 + x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [32]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [33]:
x3['k4']

[345, 534535, 534]

In [34]:
x3['k4'] = "sachin"

In [35]:
x3

{5: 'wer', 'k4': 'sachin'}

In [36]:
x3['k4'] = 456

In [37]:
x3

{5: 'wer', 'k4': 456}

In [38]:
x3['k4'] -= 10

In [39]:
x3

{5: 'wer', 'k4': 446}

In [40]:
x3['k4'] += 10

In [42]:
x3

{5: 'wer', 'k4': 456}

In [43]:
x3['k4'] *= 2

In [45]:
x3

{5: 'wer', 'k4': 912}

In [46]:
x3['k4'] /= 2

In [47]:
x3

{5: 'wer', 'k4': 456.0}

In [48]:
x3['k4'] %= 2

In [55]:
x3['k4'] = 2048

In [56]:
x3

{5: 'wer', 'k4': 2048}

In [50]:
# To find the all the keys

x3.keys()

dict_keys([5, 'k4'])

In [51]:
'k4' in x3.keys()

True

In [52]:
for i in x3:
    print(i)

5
k4

In [57]:
for i in x3.keys():
    print(x3[i])

wer
2048

In [59]:
x1

{'name': 'sachin',
 'age': 30,
 True: 'yes',
 34.5: 'no',
 'sffg': [37, 38, 54, 85],
 'abc': {'k1': 'wer', 'k4': [345, 53455, 534]}}

In [60]:
x1.keys()

dict_keys(['name', 'age', True, 34.5, 'sffg', 'abc'])

In [61]:
for i in x1.keys():
    print(x1[i])

sachin
30
yes
no
[37, 38, 54, 85]
{'k1': 'wer', 'k4': [345, 53455, 534]}

In [63]:
for i in x1.keys():
    print(type(x1[i]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [64]:
x1

{'name': 'sachin',
 'age': 30,
 True: 'yes',
 34.5: 'no',
 'sffg': [37, 38, 54, 85],
 'abc': {'k1': 'wer', 'k4': [345, 53455, 534]}}

In [81]:
# To find list and dict inside dict and print data type
for i in x1.keys():
    if type(x1[i]) == list:
        print(x1[i])
        for j in x1[i]:
            #print(type(j))
            pass
    elif type(x1[i]) == dict:
        for j in x1[i].keys():
            print(j)
            print(type(x1[i][j]))

[37, 38, 54, 85]
k1
<class 'str'>
k4
<class 'list'>

In [72]:
type(x2)

dict

In [83]:
x1

{'name': 'sachin',
 'age': 30,
 True: 'yes',
 34.5: 'no',
 'sffg': [37, 38, 54, 85],
 'abc': {'k1': 'wer', 'k4': [345, 53455, 534]}}

In [84]:
# item will create tuple from dict

x1.items()

dict_items([('name', 'sachin'), ('age', 30), (True, 'yes'), (34.5, 'no'), ('sffg', [37, 38, 54, 85]), ('abc', {'k1': 'wer', 'k4': [345, 53455, 534]})])

In [85]:
for i in x1.items():
    print(i)

('name', 'sachin')
('age', 30)
(True, 'yes')
(34.5, 'no')
('sffg', [37, 38, 54, 85])
('abc', {'k1': 'wer', 'k4': [345, 53455, 534]})

In [86]:
# To print all the keys
for i in x1.items():
    print(i[0])

name
age
True
34.5
sffg
abc

In [87]:
# To print  all the values

for i in x1.items():
    print(i[1])

sachin
30
yes
no
[37, 38, 54, 85]
{'k1': 'wer', 'k4': [345, 53455, 534]}

In [88]:
x5 = {(34,56,76) : "sadaldjfal"}

In [89]:
x5

{(34, 56, 76): 'sadaldjfal'}

In [90]:
x5[(34,56,76)]

'sadaldjfal'

In [91]:
x1

{'name': 'sachin',
 'age': 30,
 True: 'yes',
 34.5: 'no',
 'sffg': [37, 38, 54, 85],
 'abc': {'k1': 'wer', 'k4': [345, 53455, 534]}}

In [94]:
# To find total key value pair number
len(x1)

6

In [99]:
x1.get("name")

'sachin'

In [100]:
e = {56 : {45,68,98}}

In [104]:
a=list(e[56])

In [106]:
a[2]

45

In [43]:
# Question: Take input as a paragraph by using input fuction
para = input("Enter your paragraph:   ")

#Q1: Convert all of this input int list of words
l = list([para])
l1 = []
for item in l:
    for i in item.split():
        l1.append(i)
#Q2 remove all the duplicate element from list
l1 = set(l1)
l1 = list(l1)

#Q3 use above distinct value element as a key for dictonary and assign your name as a value and all the key for dict

d1 = {}
for i in l1:
    d1[i] = "sachin"
print("\n")
print("This is  dict of value")
print (d1)

# Q4 Try to print tuple value of all the values
l3 = []
for i in d1.items():
    l3.append(i[1])
t = tuple(l3)
print("\n")
print("This is tuple of value")
print(t)

# Q5 Try to print list of all the key
l4 = []
for i in d1.items():
    l4.append(i[0])
print("\n")
print("This is list of key value")
print(l4)

Enter your paragraph:   Jobs was born in San Francisco, California, and put up for adoption. He was raised in the San Francisco Bay Area. He attended Reed College in before dropping out that same year, and traveled through India in seeking enlightenment and studying Zen Buddhism


This is  dict of value
{'Buddhism': 'sachin', 'California,': 'sachin', 'attended': 'sachin', 'up': 'sachin', 'born': 'sachin', 'He': 'sachin', 'for': 'sachin', 'Reed': 'sachin', 'studying': 'sachin', 'Francisco,': 'sachin', 'India': 'sachin', 'Area.': 'sachin', 'that': 'sachin', 'traveled': 'sachin', 'same': 'sachin', 'the': 'sachin', 'Francisco': 'sachin', 'out': 'sachin', 'was': 'sachin', 'enlightenment': 'sachin', 'dropping': 'sachin', 'raised': 'sachin', 'before': 'sachin', 'seeking': 'sachin', 'College': 'sachin', 'and': 'sachin', 'year,': 'sachin', 'Jobs': 'sachin', 'San': 'sachin', 'adoption.': 'sachin', 'through': 'sachin', 'Zen': 'sachin', 'Bay': 'sachin', 'put': 'sachin', 'in': 'sachin'}


This is tuple of value
('sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin')


This is list of key value
['Buddhism', 'California,', 'attended', 'up', 'born', 'He', 'for', 'Reed', 'studying', 'Francisco,', 'India', 'Area.', 'that', 'traveled', 'same', 'the', 'Francisco', 'out', 'was', 'enlightenment', 'dropping', 'raised', 'before', 'seeking', 'College', 'and', 'year,', 'Jobs', 'San', 'adoption.', 'through', 'Zen', 'Bay', 'put', 'in']

In [44]:
name = input("Enter your name:  ")
data = name.split(" ")
print(data)

Enter your name:  My name is sachin
['My', 'name', 'is', 'sachin']

In [46]:
type(data)

list

In [54]:
para = input("Enter your paragraph:   ")
l = para.split()
s = set(l) 
d = {}
for i in s: d[i] = "sachin"
t=tuple(d.values())
l = list(d.keys())

Enter your paragraph:   My name is antaldj

In [52]:
d

{'my': 'sachin', 'name': 'sachin', 'is': 'sachin', 'sachin': 'sachin'}

In [53]:
d.values()

dict_values(['sachin', 'sachin', 'sachin', 'sachin'])

In [55]:
l

['antaldj', 'My', 'name', 'is']

In [56]:
t

('sachin', 'sachin', 'sachin', 'sachin')

In [68]:
d = {"company" : "abc", "cource": "fsds","year" : 2020}

In [59]:
for i in d:
    print ("print a key:  ", i,";" , "value of key: ", d[i] )

print a key:   company ; value of key:  abc
print a key:   cource ; value of key:  fsds
print a key:   year ; value of key:  2021

In [60]:
for i in d.keys():
    print(i)

company
cource
year

In [62]:
for i in d.values():
    print(i)

abc
fsds
2021

In [64]:
"course" in d

False

In [71]:
d

{'company': 'abc', 'cource': 'fsds', 'year': 2021}

In [70]:
if d['year'] == 2021:
    print("same year")
else:
    d['year'] = 2021

In [72]:
my_dict = {}
for i in range(10):
    my_dict[i] = i * i

In [73]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [77]:
{i : i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [78]:
{i: i * 3 for i in range(1,10) if i%2== 0  }

{2: 6, 4: 12, 6: 18, 8: 24}

In [80]:
{i: if i%2== 0  else i * 3 for i in range(1,10)   }

SyntaxError: invalid syntax (Temp/ipykernel_3252/1060257839.py, line 1)

In [81]:
d

{'company': 'abc', 'cource': 'fsds', 'year': 2021}

In [83]:
d.get("companyabc")

In [90]:
spam = [int(int('3' * 2)/11)]

In [93]:
spam[:2]

[3]

In [94]:
t = ()

In [ ]:
t.