In [14]:
import pandas as pd

In [15]:
import numpy as np

In [16]:
df={'num':[1,2,3,4,5,6,7],'format':['O','E','O','E','O','E','O']}

In [17]:
df=pd.DataFrame(df)

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()

In [20]:
scal=scaler.fit(df.drop('format',axis=1))

In [10]:
df

   num format
0    1      O
1    2      E
2    3      O
3    4      E
4    5      O
5    6      E
6    7      O

In [21]:
scal

StandardScaler()

In [11]:
scaler

StandardScaler()

In [12]:
scaled_features = scaler.transform(df.drop('format',axis=1))

In [13]:
scaled_features

array([[-1.5],
       [-1. ],
       [-0.5],
       [ 0. ],
       [ 0.5],
       [ 1. ],
       [ 1.5]])